body{
    margin:0;
    padding:30px;
    background:#f4f6f9;
    font-family:Arial, sans-serif;
}

.form-box{
    max-width:500px;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
    text-align:center;
}

.form-box h2{
    margin-bottom:20px;
}

.form-box input{
    width:100%;
    padding:12px;
    font-size:16px;
    border:1px solid #ccc;
    border-radius:8px;
    margin-bottom:15px;
    box-sizing:border-box;
}

.form-box button{
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#0d6efd;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.form-box button:hover{
    background:#0b5ed7;
}

.hidden{
    display:none;
}

#certificateArea{
    width:1000px;
    max-width:100%;
    margin:40px auto;
}

.certificate{
    width:1400px;
    min-height:900px;

    max-width:100%;

    background:#ffffff;

    border:18px solid #d4af37;

    padding:50px 70px;

    box-sizing:border-box;

    text-align:center;

    position:relative;

    overflow:visible;

    margin:auto;

    border-radius:20px;

    box-shadow:0 15px 40px rgba(0,0,0,.25);
}

.school-name{
    font-size:32px;

    color:#d4af37;

    font-weight:bold;

    margin-bottom:25px;
}

.congrats{
    color:#0b1c2c;

    font-size:50px;

    margin:25px 0;
}

.student-name{
    font-size:60px;

    color:#d4af37;

    font-weight:900;

    margin:35px 0;

    text-transform:uppercase;
}

.level{
    color:#0b1c2c;

    font-size:38px;

    font-weight:bold;
}

.description{
    font-size:18px;
    line-height:1.8;
    color:#555;
}

.bottom{
    margin-top:60px;
    display:flex;
    justify-content:space-between;
}

.download-btn{
    margin:30px auto;
    display:block;
    padding:15px 30px;
    font-size:18px;
    background:#198754;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

.download-btn:hover{
    background:#157347;
}

.certificate::before{
    content:"";

    position:absolute;

    top:-120px;
    left:-120px;

    width:350px;
    height:350px;

    border-radius:50%;

    background:rgba(212,175,55,.12);
}

.certificate::after{
    content:"";

    position:absolute;

    bottom:-120px;
    right:-120px;

    width:350px;
    height:350px;

    border-radius:50%;

    background:rgba(212,175,55,.12);
}

.student-name{
font-size:42px;
color:#d4af37;
font-weight:900;
margin:25px 0;
text-transform:uppercase;
}

.main-text{
font-size:16px;
line-height:1.6;
max-width:950px;
margin:10px auto;
color:#333;
}

.honor{
margin-top:30px;
font-size:28px;
color:#0b1c2c;
}

.footer-cert{
display:flex;
justify-content:space-between;
margin-top:30px;
padding-bottom:50px;
font-size:20px;
text-align:center;
}

.download-btn{
margin-top:20px;
padding:12px 24px;
font-size:18px;
border:none;
border-radius:8px;
cursor:pointer;
}
